@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-01-19 11:01:04
 * @version $Id$
 */
.iformation li{
 	list-style: none;
 	height:50px;
 	line-height:50px;
 	border-bottom: 1px solid #ccc;
 	transition: all .5s ease
}
.iformation li:hover{
	color:#555;
}
.ifmatleft{
	width:80px;
	float:left;
	line-height:50px;
	color:#555;
	font-size:16px;
	margin-left:4px;
}
.ifmatright{
	width:70%;
	height:50px;
	float:left;
	line-height:50px;
	color:#666;
	font-size:16px;
	text-align: right
}
.spanR{
 	width:8px;
 	height:15px;
 	float:right;
 	margin-right:3px;
 	margin-top:2px;
}